application/vnd.oasis.opendocument.presentation:MS Office PowerPoint
application/vnd.oasis.opendocument.spreadsheet:MS Office Excel
application/vnd.oasis.opendocument.text:MS Office Word
application/vnd.openxmlformats-officedocument.presentationml.presentation:MS Office PowerPoint
application/vnd.ms-powerpoint:MS Office PowerPoint
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:MS Office Excel
application/vnd.ms-excel:MS Office Excel
application/vnd.openxmlformats-officedocument.wordprocessingml.document:MS Office Word
application/msword:MS Office Word
application/pdf:Adobe Reader
application/rtf:MS Office Word
image/jpeg:Google Chrome
image/png:Google Chrome
audio/mpeg:VLC media player
video/mp4:VLC media player
text/plain:Notatnik
application/vnd.ms-xpsdocument:MS Office Word
text/csv:Visual Studio Code
image/tiff:.tif
:.geotif
audio/wav:VLC media player
video/x-msvideo:VLC media player
:.mpg
application/ogg:VLC media player
video/ogg:VLC media player
application/zip:WinRar
application/x-tar:WinRar
application/gzip:WinRar
application/x-7z-compressed:.7z
text/html:Google Chrome
application/xhtml+xml:.xhtml
text/css:Visual Studio Code
application/xml:Visual Studio Code
image/svg+xml:.svg
:.xsd
application/gml+xml:.gml
:.rng
:.xsl
application/vnd.ms-xpsdocument:.xps
application/xslt+xml:.xslt
:TSL
application/vnd.openxmlformats-package.digital-signature-xmlsignature+xml:XMLsig
:XAdES
:PAdeES
:CAdES
application/vnd.etsi.asic-s+zip:ASIC
:XMLenc
