application/vnd.oasis.opendocument.presentation:.odp
application/vnd.oasis.opendocument.spreadsheet:.ods
application/vnd.oasis.opendocument.text:.odt
application/vnd.openxmlformats-officedocument.presentationml.presentation:.pptx
application/vnd.ms-powerpoint:.ppt
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:.xlsx
application/vnd.ms-excel:.xls
application/vnd.openxmlformats-officedocument.wordprocessingml.document:.docx
application/msword:.doc
application/pdf:.pdf
application/rtf:.rtf
image/jpeg:.jpg
image/png:.png
audio/mpeg:.mp3
video/mp4:.mp4
text/plain:.txt
application/vnd.ms-xpsdocument:.xps
text/csv:.csv
image/tiff:.tif
:.geotif
audio/wav:.wav
video/x-msvideo:.avi
:.mpg
application/ogg:.ogg
video/ogg:.ogv
application/zip:.zip
application/x-tar:.tar
application/gzip:.gz
application/x-7z-compressed:.7z
text/html:.html
application/xhtml+xml:.xhtml
text/css:.css
application/xml:.xml
image/svg+xml:.svg
:.xsd
application/gml+xml:.gml
:.rng
:.xsl
application/vnd.ms-xpsdocument:.xps
application/xslt+xml:.xslt
:TSL
application/vnd.openxmlformats-package.digital-signature-xmlsignature+xml:XMLsig
:XAdES
:PAdeES
:CAdES
application/vnd.etsi.asic-s+zip:ASIC
:XMLenc
