.App {
  text-align: center;
}

.mainHeader {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainContainer {
  background-color: #61dafb !important;
}

body {
  background-color: aquamarine;
}

.uploadIcon {
  width: 200px !important;
  height: 200px !important;
  fill: #ffffff;
}